*{
 
}


html,
body {
  border: 20px;
  height: 105%;
  background: rgb(210,210,210);
  background: linear-gradient(0deg, rgba(210,210,210,1) 0%, rgba(150,150,150,1) 59%, rgba(56,58,59,1) 100%);
}

.grid-container{
  display: grid;
  height:  100vh;
  grid-template-columns: 220px 1fr 1fr 1fr;
  grid-template-rows:    repeat(4, 1fr);
  grid-template-areas:
    "menu cont cont cont"
    "menu cont cont cont"
    "menu cont cont cont"
    "menu cont cont cont";
}

.grid-item1 { grid-area: cont; }
.grid-item2 { grid-area: menu;}

.grid-container > div{
  object-fit: cover;
}

main{
  height: 100%;  
}

.container-grid {
  display: grid;
  height:  100vh;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows:    repeat(4, 1fr);
  grid-template-areas:
  "a a d c c"
  "b b b b b"
  "b b b b b"
  "b b b b b";
  gap: 8px;
}
  
.container-grid > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  display:    flex;
  padding:    center;
  margin-top:    20px;
  margin-left:   8px;
  margin-bottom: 8px;
  margin-right:  20px;
}

.item1 { grid-area: a; }
.item2 { grid-area: b; }
.item3 { grid-area: c; }
.item4 { grid-area: d; }

.item1:hover{
  filter: grayscale(30%);
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.5s;
}


.item3:hover{
  filter:     grayscale(30%);
  cursor:     pointer;
  transform:  scale(1.05);
  transition: all 0.5s;
}

.item4:hover{
  filter:     grayscale(30%);
  cursor:     pointer;
  transform:  scale(1.05);
  transition: all 0.5s;
}
 

#antena{
 height:      50px;
 width:       50px;
 margin-left: 20px;
 margin-top: -50px;
}


#titulo{
  margin-top:  45px;
  margin-left: 20px;
  transition:  all 0.5s;
}

#sub-1{
  margin-left:   10px;
  margin-bottom: 300px;
  transition:    all 0.5s;
}

#h2-1{
  margin-left:  300px;
  margin-right: 10px;
  margin-top:  -80px;
  font-weight:  bold;
  font-size:    80px;
  color:        green;
}

#sub-2{
  margin-left: -500px;
  margin-right: 0px;
  margin-top:   100px;
  font-weight:  bold;
}

#h2-1-1{
  margin-left:  800px;
  margin-right: 10px;
  margin-top:  -10px;
  font-weight:  bold;
  font-size:    80px;
}

#icon-1{
  height:      220px;
  width:       220px;
  margin-left: 30px;
  margin-top: -30px;
}

#icon-1:hover{
  transform: scale(1.1);
}

#h1-2{
  margin-top:  20px;
  margin-left: 280px;
  transition:  all 0.5s;
}

#h2-2{
  margin-left:  80px;
  margin-right: 15px;
  margin-top:   50px;
  font-weight:  bold;
  font-size:    100px;
}

#icon-2{
  height:      50px;
  width:       50px;
  margin-left: 30px;
  margin-top: -50px;
}

#icon-2:hover{
  transform: scale(1.1);
}

#h1-3{
  margin-top:  45px;
  margin-left: 20px;
  transition:  all 0.5s;
}

#h2-3{
  margin-left:  300px;
  margin-right: 10px;
  margin-top:  -80px;
  font-weight:  bold;
  font-size:    80px;
  color:        red;
}

#icon-3{
  height:      100px;
  width:       100px;
  margin-left: 50px;
  margin-top:  10px;
  transition:  all 0.5s;
}

#icon-3:hover{
  transform: scale(1.1);
}

#h1-4{
  margin-left: 70px;
  margin-top:  20px;
}

#h2-4{
  margin-left:  300px;
  margin-right: 10px;
  margin-top:   120px;
  font-weight:  bold;
  font-size:    80px;
}

#a-1:hover{
  background-color: #0392f5;
  transition:       all 0.3s;  
}

#a-2:hover{
  background-color: #0392f5;
  transition:       all 0.3s;
}

#a-3:hover{
  background-color: #0392f5;
  transition:       all 0.3s;
}

#a-4:hover{
  background-color: #0392f5;
  transition:       all 0.3s;
}

#a-5:hover{
  background-color: #0392f5;
  transition:       all 0.3s;
}

ul, ol {
  list-style: none;
}

#lista {
  background-color: #000;
  color:            #fff;
  text-decoration:  none;
  padding:          10px 12px;
  display:          block;
}

li:hover > ul {
  display: block;
}


/* Botones de opciones de Instalaciones */
#btnComp{
  transition: all 0.3s;
}

#btnAct{
  transition: all 0.3s;
}

#btnBorrar{
  transition: all 0.3s;
}

#btnComp:hover{
  transition: all 0.3s;
  transform:  scale(1.2);
}

#btnAct:hover{
  transition: all 0.3s;
  transform:  scale(1.2);
}

#btnBorrar:hover{
  transition: all 0.3s;
  transform:  scale(1.2);
}


// mostrar usuario conectado
.dropdown{
  margin-left: 0px;
}

#userimg{
  margin-left: 895px;
}