*{
 
}

html,
body {
  border: 20px;
  height: 105%;
  background: rgb(210,210,210);
  background: linear-gradient(0deg, rgba(210,210,210,1) 0%, rgba(150,150,150,1) 59%, rgba(56,58,59,1) 100%);
}

.grid-container{
  display: grid;
  height:  100vh;
  grid-template-columns: 220px 1fr 1fr 1fr;
  grid-template-rows:    repeat(4, 1fr);
  grid-template-areas:
    "menu cont cont cont"
    "menu cont cont cont"
    "menu cont cont cont"
    "menu cont cont cont";
}

.grid-item1 { grid-area: cont; }
.grid-item2 { grid-area: menu;}

.grid-container > div{
  object-fit: cover;
}

main{
  height: 100%; 
}

.container-grid {
  display: grid;
  height:  100vh;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows:    repeat(4, 1fr);
  grid-template-areas:
  "a a b b b"
  "a a b b b"
  "c c c d d"
  "c c c d d";
  gap: 8px;
}
  
.container-grid > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  display:    flex;
  padding:    center;
  margin-top:    20px;
  margin-left:   8px;
  margin-bottom: 8px;
  margin-right:  20px;
}



.item1 { 
  grid-area:  a;
  transition: all 0.3s; 
}
.item2 { 
  grid-area:  b;
  transition: all 0.3s; 
}
.item3 { 
  grid-area:  c;
  transition: all 0.3s;  
}
.item4 { 
  grid-area:  d;
  transition: all 0.3s;  
}


.item1:hover{
  filter: grayscale(30%);
  cursor: pointer;
  transform:  scale(1.05);
  transition: all 0.5s;
}

.item2:hover{
  filter: grayscale(30%);
  cursor: pointer;
  transform:  scale(1.05);
  transition: all 0.5s;
}

.item3:hover{
  filter: grayscale(30%);
  cursor: pointer;
  transform:  scale(1.05);
  transition: all 0.5s;
}

.item4:hover{
  filter: grayscale(30%);
  cursor: pointer;
  transform:  scale(1.05);
  transition: all 0.5s;
}
 

/* cuadro-1 */
#antena{
 height: 200px;
 width:  200px;
 margin-left: 100px;
 transition:  all 0.3s; 
}
#antena:hover{
  transform:  scale(1.1);
  transition: all 0.5s;
}

#h1-1{
  margin-left: 80px;
  transition:  all 0.5s;
}


#h2-1{
  margin-left:  300px;
  margin-right: 10px;
  margin-top:   120px;
  font-weight:  bold;
  font-size:    80px;
}

/* cuadro-2 */
#icon-1{
  height: 220px;
  width:  220px;
  margin-left: 30px;
  margin-top: -30px;
  transition:  all 0.3s; 
}

#icon-1:hover{
  transform:  scale(1.1);
  transition: all 0.5s;
}

#h1-2{
  margin-top:  20px;
  margin-left: 280px;
}

#h2-2{
  margin-left:  80px;
  margin-right: 15px;
  margin-top:   50px;
  font-weight:  bold;
  font-size:    100px;
}

#icon-2{
  height: 220px;
  width:  220px;
  margin-left: 30px;
  margin-top: -30px;
  transition:  all 0.3s; 
}

#icon-2:hover{
  transform:  scale(1.1);
  transition: all 0.5s;
}

#h1-3{
  margin-top:  20px;
  margin-left: 280px;
}

#h2-3{
  margin-left:  280px;
  margin-right: 10px;
  margin-top:   50px;
  font-weight:  bold;
  font-size:    100px;
}

#icon-3{
  height: 200px;
  width:  200px;
  margin-left: 100px;
  transition:  all 0.3s; 
}

#icon-3:hover{
  transform:  scale(1.1);
  transition: all 0.5s;
}

#h1-4{
  margin-left: 70px;
  margin-top:  20px;
}

#h2-4{
  margin-left:  300px;
  margin-right: 10px;
  margin-top:   120px;
  font-weight:  bold;
  font-size:    80px;
}

#a-1:hover{
  background-color: #0392f5;
  transition: all 0.3s;  
}

#a-2:hover{
  background-color: #0392f5;
  transition: all 0.3s;
}

#a-3:hover{
  background-color: #0392f5;
  transition: all 0.3s;
}

#a-4:hover{
  background-color: #0392f5;
  transition: all 0.3s;
}

#a-5:hover{
  background-color: #0392f5;
  transition: all 0.3s;
}

/* dropdown */
.dropdown{
  margin-left:0px;
}

#userimg{
  margin-left: 930px;
}

/* VISTA PARA SMARTPHONES */
@media screen and (max-width:450px){

  html,
  body {
    border: 20px;
    height: 125%;
    background: rgb(210,210,210);
    background: linear-gradient(0deg, rgba(210,210,210,1) 0%, rgba(150,150,150,1) 59%, rgba(56,58,59,1) 100%);
  }

  .grid-container{
    display: grid;
    height:  100vh;
    grid-template-columns: 1fr;
    grid-template-rows:    repeat(4, 1fr);
    grid-template-areas:
      "cont"
      "cont"
      "cont"
      "cont";
  }
  
  .grid-item1 { grid-area: cont; }
  .grid-item2 { 
    /* grid-area: menu;  */
    display:   none !important;
  }
  
  .grid-container > div{
    object-fit: cover;
  }
  
  main{
    height: 100%; 
  }
  
  .container-grid {
    display: grid;
    height:  40vh;
    width:   40vh;
    margin-left: 40px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows:    repeat(4, 1fr);
    grid-template-areas:
    "a"
    "b"
    "c"
    "d";
    gap: 1px;
  }
  
  .dropdown{
    margin-left:0px;
  }
  
  #userimg{
    margin-top: -100px;
  }

}



@media screen and (max-width:920px){

  /* dropdown */
  .dropdown{
    margin-top: 0px;
  }

  #userimg{
    margin-left:0px;
  }

  /* cuadro-1 */
  #antena{
    height: 150px;
    width:  150px;
    margin-left: 50px;
    display: inline;
  }

  #h1-1{
    margin-left: 30px;
    font-size:   30px;
    transition:  all 0.5s;
  }
  
  
  #h2-1{
    margin-left:  20px;
    margin-right: 10px;
    margin-top:   120px;
    font-weight:  bold;
    font-size:    40px;
  }

  /* cuadro-2 */
  #icon-1{
    height: 180px;
    width:  180px;
    margin-left: 30px;
    margin-top:  20px;
  }

  #h1-2{
    margin-top:  5px;
    margin-left: 80px;
    font-size:   30px;
  }
  
  #h2-2{
    margin-left:  80px;
    margin-right: 15px;
    margin-top:   50px;
    font-weight:  bold;
    font-size:    80px;
  }

  /* cuadro-3 */
  #icon-2{
    height: 180px;
    width:  180px;
    margin-left: 30px;
    margin-top:  10px;
  }

  #h1-3{
    margin-top:  5px;
    margin-left: 90px;
    font-size:   30px
  }
  
  #h2-3{
    margin-left:  230px;
    margin-right: 10px;
    margin-top:   50px;
    font-weight:  bold;
    font-size:    80px;
  }

  /* cuadro-4 */
  #icon-3{
    height: 150px;
    width:  150px;
    margin-left: 50px;
  }

  #h1-4{
    /* margin-left: 10px; */
    margin-top:  5px;
    margin-left: 30px;
    font-size:   30px;
  }
  
  #h2-4{
    margin-left:  30px;
    margin-right: 10px;
    margin-top:   120px;
    font-weight:  bold;
    font-size:    40px;
  }

}


@media screen and (max-width:1069px){

    /* dropdown */
  .dropdown{
    margin-top: 0px;
  }

  #userimg{
    margin-left:640px;
  }

  /* cuadro-1 */
  #antena{
    height: 180px;
    width:  180px;
    margin-left: 40px;
  }

  #h1-1{
    margin-left: 30px;
    font-size:   40px;
    transition:  all 0.5s;
  }
  
  
  #h2-1{
    margin-left:  250px;
    margin-right: 10px;
    margin-top:   130px;
    font-weight:  bold;
    font-size:    60px;
  }

  /* cuadro-2 */
  #icon-1{
    height: 200px;
    width:  200px;
    margin-left: 30px;
    margin-top:  0px;
  }

  #h1-2{
    margin-top:  5px;
    margin-left: 80px;
    font-size:   40px;
  }
  
  #h2-2{
    margin-left:  80px;
    margin-right: 15px;
    margin-top:   50px;
    font-weight:  bold;
    font-size:    80px;
  }

  /* cuadro-3 */
  #icon-2{
    height: 180px;
    width:  180px;
    margin-left: 30px;
    margin-top:  10px;
  }

  #h1-3{
    margin-top:  5px;
    margin-left: 90px;
    font-size:   40px
  }
  
  #h2-3{
    margin-left:  230px;
    margin-right: 10px;
    margin-top:   50px;
    font-weight:  bold;
    font-size:    80px;
  }

  /* cuadro-4 */
  #icon-3{
    height: 150px;
    width:  150px;
    margin-left: 80px;
  }

  #h1-4{
    /* margin-left: 10px; */
    margin-top:  5px;
    margin-left: 80px;
    font-size:   40px;
  }
  
  #h2-4{
    margin-left:  250px;
    margin-right: 10px;
    margin-top:   100px;
    font-weight:  bold;
    font-size:    80px;
  }

}

@media screen and (min-width:1750px){

  html,
body {
  border: 0px;
  height: 103%;
  background: rgb(210,210,210);
  background: linear-gradient(0deg, rgba(210,210,210,1) 0%, rgba(150,150,150,1) 59%, rgba(56,58,59,1) 100%);
}

  /* dropdown */
.dropdown{
  margin-top: 0px;
}

#userimg{
  margin-left:1340px;
}

/* cuadro-1 */
#antena{
  height: 380px;
  width:  380px;
  margin-left: 80px;
}

#h1-1{
  margin-left: 120px;
  font-size:   60px;
  transition:  all 0.5s;
}


#h2-1{
  margin-left:   450px;
  margin-right: -50px;
  margin-top:    250px;
  font-weight:   bold;
  font-size:     90px;
}

/* cuadro-2 */
#icon-1{
  height: 390px;
  width:  390px;
  margin-left: 30px;
  margin-top:  0px;
}

#h1-2{
  margin-top:  5px;
  margin-left: 200px;
  font-size:   60px;
}

#h2-2{
  margin-left:  80px;
  margin-right: 15px;
  margin-top:   210px;
  font-weight:  bold;
  font-size:    120px;
}

/* cuadro-3 */
#icon-2{
  height: 390px;
  width:  390px;
  margin-left: 30px;
  margin-top:  10px;
}

#h1-3{
  margin-top:  5px;
  margin-left: 220px;
  font-size:   60px
}

#h2-3{
  margin-left:  530px;
  margin-right: 10px;
  margin-top:   210px;
  font-weight:  bold;
  font-size:    120px;
}

/* cuadro-4 */
#icon-3{
  height: 380px;
  width:  380px;
  margin-left: 80px;
}

#h1-4{
  /* margin-left: 10px; */
  margin-top:  5px;
  margin-left: 80px;
  font-size:   60px;
}

#h2-4{
  margin-left:  250px;
  margin-right: 10px;
  margin-top:   100px;
  font-weight:  bold;
  font-size:    90px;
}

}


